.telephone {
  display: none;
  font-family: "Montserrat", sans-serif;
}
.top-bar--navigation {
  display: none;
}
.shop--navigation {
  .navigation--list{
    background: #282d33;
    padding: 5px 0;
  }
  .navigation--entry {
    display: inline-block;
    width: 33.3333%;
    text-align: center;
    margin: 0;

      .entry--cart{
        margin: 0;
      }
  }
  .entry--menu-left {
    top: 4px;

    .btn {
      color: #a4adbb;
    }
  }
}


.header-main {
  border: none;
  .logo-main {
    .logo--shop {
      width: 100%;
      .unitize-height(116);

      .logo--link {
        .unitize-height(116);
      }
    }
  }
}

.header-main {
  .top-bar {
    display: block;
    padding-top: 30px;
  }
}




@media screen and(min-width:@tabletViewportWidth) {

  .telephone {
    display: block;
    width: 60%;
    float: right;
    font-size: 26px;
    color: #5d6a7f;
    line-height: 30px;
    text-align: right;
    margin-bottom: 30px;
      .upper_text {
        float:right;
      }
      .under_text {
        font-size: 15px;
      }
      .phone_text {
        margin: -10px 24px 16px 0;
      }
  }

  .fa-phone {
    color: #a4adbb;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    vertical-align: -3px;

  }

  .navigation--list-wrapper {
    display:block;
  }


  .shop--navigation {
    width: 100%;
    .entry--menu-left {
      position: static;
      float: left;
      width: 20%;
    }
    .navigation--list {
      text-align: center;
    }
  }


  .header-main {
    .header--navigation {
      padding: 10px 0 0 0;
    }
    .logo-main {
      width: 50%;
    }
  }

  .navigation--list {
    .entry--cart {
      .cart--link {
        .cart--amount {
          display: none;
        }
      }
    }
  }
  .shop--navigation{
    .entry--search{
      position: static;
      float: left;
      width: 50%;
    }
    .entry--cart{
      position: static;
      float: left;
      width: 25%;
    }
    .entry--menu-left {
      display: block;
      width: 25%;
    }
  }

  .header-main {
    .logo-main {
      padding: 0;
      margin: 10px 0 0 24px;
        .logo--shop {
         height: 144px;
        }
        .logo--link {
          height: 144px;
        }
    }
  }
}
@media screen and (min-width: @tabletLandscapeViewportWidth) {
  .top-bar--navigation {
    display: block;
  }

  .telephone {
    width: 50%;
    margin-bottom: 0;
      .phone_text {
       margin: 0 42px 16px 0;
      }
  }

  .header-main {
    .logo-main {
      width: 42%;
      margin: 0;
      .logo--link {
        margin: -22px 0 0 42px;

      }
    }
  }
  .header-main {
    .shop--navigation {
      float:right;
      width: 57%;
      padding: 0 42px 16px 0;
      max-width: 540px;
      .entry--search{
        width: 55%;
        padding: 7px;
        background-color: #e8ebf1;
      }
      .entry--cart{
        background: #83b817;
        width: 45%;
        padding: 7px;
          .icon--basket {
            color: white;
          }
      }
      .entry--menu-left {
        display: none;
      }
      .navigation--list{
        background: transparent;
      }
    }
  }

  .entry--search {
    .main-search--form {
      .main-search--button {
        border: 1px solid #dfdfdf;
      }
    }
  }

  .header-main {
    .top-bar {
      margin-bottom: 0;
    }
    .header--navigation {
      padding: 0;
    }
    .top-bar--navigation {
      margin-right: 32px;
    }
  }

  i.icon--account{
    display: none;
  }


}

