.header-main .top-bar {
  padding-top: 30px;
}
.telephone {
  float: right;
  font-size: 26px;
  color: #5d6a7f;
  font-family: "Montserrat", sans-serif;
  line-height: 30px;
  margin-bottom: 16px;
  text-align: right;

    .under_text {
      font-size: 15px;
    }
}
.icon--phone:before {
  color: #a4adbb;

}